/*style.css */
/* Pour rendre Responsive */
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
#boutonAjout {
	font-size: 1.2rem;
	font-weight: bolder;
	border: #2A7768;
	background-color: #469387;
	color: white;
	margin: auto;
	display: block;
	border-radius: 5px;
	text-align: center;
	width: fit-content;
	padding: 13px 13px;
}
#myBooks {
	>h1 {
		color: #59C3C3;
		border: 1px solid green;
		border-radius: 15px;
		box-sizing: border-box;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 5%;
		padding: 16px 16px;
		text-align: center;
		box-shadow: 1px 1px 5px #C8C8C8;
		background-color: rgb(246, 248, 247);
	}
	>h2 {
		text-align: center;
		font-weight: bolder;
	}
}
h1 {
	font-size: 1.5rem;
}
h2 {
	font-size: 1.5rem;
}
input {
	font-size: 1rem;
}
p {
	font-size: 1rem;
}
h3 {
	font-size: 1rem;
}
#form {
	padding-left: 5%;
	padding-right: 5%;
	>input {
		width: 100%;
	}
	>button {
		width: 33%;
		display: block;
		color: white;
		border: 0;
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-top: 1rem;
		border-radius: 5px;
	}
}
#go {
	background-color: #469387;
}
#cancel {
	background-color: tomato;
}
.card {
	border: 2px solid green;
	background-color: rgb(246, 248, 247);
	padding: 15px;
}
.cardImage {
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 2%;
}
.iconBox {
	color: green;
	display: flex;
	justify-content: flex-end;
}
#resultLabel {
	text-align: center;
	font-size: 2em;
	font-weight: bolder;
}
#resultContainer {
	display: grid;
	grid-gap: 2rem;
}
#content {
	display: grid;
	grid-gap: 2rem;
}
@media (max-width : 575px) {
	#resultContainer {
		grid-template-columns: repeat(1, 1fr);
		padding-left: 5%;
		padding-right: 5%;
	}
	#content {
		grid-template-columns: repeat(1, 1fr);
		padding-left: 5%;
		padding-right: 5%;
	}
	.card {
		margin-left: 2em;
		margin-right: 2em;
	}
}
@media (min-width : 576px) {
	#resultContainer {
		grid-template-columns: repeat(2, 1fr);
		padding-left: 5%;
		padding-right: 5%;
	}
	#content {
		grid-template-columns: repeat(2, 1fr);
		padding-left: 5%;
		padding-right: 5%;
	}
}
